<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,tr,th,td{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <table>
        <caption>Employee Table</caption>
        <tr>
            <th>ID</th>
            <th>ENAME</th>
            <th>JOB</th>
            <th>SALARY</th>
            <th>DEPTNO</th>
        </tr>
        {% for employee in Employees %}
            <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.ename}}</td>
                <td>{{employee.job}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.deptno}}</td>
            </tr>

        {% endfor %}
    </table>
</body>
</html>