<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Name : </label>
        <input type="text" name="name" id="">  <br>
        <label>Age : </label>
        <input type="number" name="age" id="">   <br>
        <label>gender : </label>
        <input type="text" name="gender" id="">   <br>
        <button>submit</button>

    </form>
</body>
</html>